@font-face {
  font-family: main-font-burrow;
  src: url(source/GT-America-Extended-Medium-Trial.otf);
}
@font-face {
  font-family: neuzeit;
  src: url(source/Neuzeit.ttf);
}
.button {
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  color: inherit;
  font-family: main-font-burrow;
  text-decoration: none;
}
button {
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  color: inherit;
  font-family: main-font-burrow;
  text-decoration: none;
}
body {
  margin: 0;
}
body .header-navigation {
  background-color: #f7eee3;
  position: fixed;
  width: 100%;
}
body .header-navigation .header-nav-bx-utility-wrapper {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: .7475rem;
  letter-spacing: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  background-color: #f7eee3;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding: 0 1rem 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header-navigation .header-nav-bx-utility-wrapper.unpinned {
  top: -0.7rem;
  height: 0;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: .7475rem;
  line-height: 1rem;
  letter-spacing: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-navigation_banner {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-25%);
          transform: translate(-25%);
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-navigation_banner p {
  font-family: Neuzeit;
  letter-spacing: .3px;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .link {
  left: 25%;
  font-family: Neuzeit;
  text-decoration: none;
  padding: 0  1.25rem 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #2a2b2b;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section {
  left: 25%;
  font-family: Neuzeit;
  text-decoration: none;
  padding: 0  1.25rem 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #2a2b2b;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section span {
  cursor: pointer;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section img {
  cursor: pointer;
  height: 15px;
  width: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section .utility-dropdown {
  position: absolute;
  left: -8rem;
  top: 1.5rem;
  background-color: #ffffff;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  width: 12.5rem;
  height: 0;
  overflow: hidden;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section .utility-dropdown.active {
  height: 33rem;
  width: 12.5rem;
  top: 1.5rem;
  display: block;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section .utility-dropdown.hidden {
  display: none;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section .utility-dropdown .UniversalLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383633;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 20px;
  padding: 20px 0;
  font-size: .875rem;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section .utility-dropdown .UniversalLink img {
  height: 65px;
  width: 55px;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section .utility-dropdown .UniversalLink img#inspiration-icon {
  height: 65px;
  width: 65px;
  margin-left: -0.5rem;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .dropdown-section .utility-dropdown .UniversalLink p {
  margin-left: 20px;
}
body .header-navigation .header-navigation-content {
  background-color: #ffffff;
}
body .header-navigation .header-navigation-content .header-menu-desktop {
  font-family: GT America Burrow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 11;
  height: 4.5rem;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383633;
}
body .header-navigation .header-navigation-content .header-menu-desktop .header-logo {
  width: 8rem;
  margin-left: .6rem;
}
body .header-navigation .header-navigation-content .header-menu-desktop .header-logo a img {
  width: 100%;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-button img {
  height: 15px;
  width: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-button img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer {
  background-color: #ffffff;
  position: absolute;
  overflow: hidden;
  height: 0;
  right: 0;
  left: 0;
  z-index: 11;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer.active {
  top: 6.55rem;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer.hidden {
  display: none;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content {
  background-color: #ffffff;
  width: 85rem;
  height: 325.7px;
  margin: 0 7.98rem;
  padding: 1.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .navigation-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(56, 54, 51, 0.75);
  height: 300px;
  position: relative;
  margin: auto 1.75rem;
  white-space: nowrap;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .navigation-dropdown .links-section-item {
  padding: .5rem 0;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .navigation-dropdown .links-section-item .header {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #383633;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .navigation-dropdown .navigation-dropdown_content.special a {
  color: #383633;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .navigation-dropdown .navigation-dropdown_content a {
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  color: inherit;
  font-family: main-font-burrow;
  text-decoration: none;
  color: rgba(56, 54, 51, 0.75);
  padding: .5rem 0;
  font-size: 0.8rem;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  margin-left: 20px;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image .images_point-title p {
  font-size: 1rem;
  font-weight: 100;
  color: #383633;
  font-family: main-font-burrow;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image img {
  height: 225px;
  width: 180px;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image .images_point-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image .images_point-description p {
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  color: inherit;
  font-family: main-font-burrow;
  text-decoration: none;
  padding: 0;
  color: #383633;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image .images_point-description span {
  font-family: main-font-burrow;
  margin-top: -10px;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
  font-size: .67rem;
  line-height: 1.33;
  letter-spacing: .5px;
  color: #383633;
  text-decoration: underline;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image .images_point-description span:hover {
  text-decoration: none;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image#image2 {
  margin-top: 52px;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .navigation-position-drawer .navigation-position-drawer_content .images .image#image2 .images_point-title {
  display: none;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .boxShadow {
  position: fixed;
  display: none;
  left: 0;
  top: 6.5rem;
  width: 100vw;
  height: calc(93.5vh);
  background-color: rgba(140, 139, 139, 0.53);
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .boxShadow.active {
  display: block;
}
body .header-navigation .header-navigation-content .header-menu-desktop .navigation .navigation-position .boxShadow.hidden {
  display: none;
}
