@font-face {
  font-family: Myriad Pro Light;
  src: url(myriad-pro/MyriadPro-Light.woff);
}
@font-face {
  font-family: Myriad Pro Regular;
  src: url(myriad-pro/MYRIADPRO-REGULAR.woff);
}
@font-face {
  font-family: Myriad Pro Bold;
  src: url(myriad-pro/MYRIADPRO-BOLD.woff);
}
@font-face {
  font-family: Myriad Pro SemiBold;
  src: url(myriad-pro/MYRIADPRO-SEMIBOLD.woff);
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Asap;
}
body.active {
  margin-right: 15px;
  overflow: hidden;
}
body nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 2rem 1.2rem 7rem;
}
body nav .menu-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 7rem;
}
body nav .menu-part .menu-logo {
  width: 150px;
}
body nav .menu-part .menu-logo img {
  width: 100%;
}
body nav .menu-part .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 3.8rem;
}
body nav .menu-part .menu .menu-item a {
  font-size: 1.4rem;
  color: #242424;
  text-decoration: none;
  font-weight: 600;
}
body nav .menu-part .menu .menu-item a:hover {
  color: #009687;
}
body nav .menu-part .other-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 2rem;
}
body nav .menu-part .other-links .shop-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.2rem;
  color: #242424;
  text-decoration: none;
}
body nav .menu-part .other-links .shop-link a p {
  font-weight: 600;
}
body nav .menu-part .other-links .shop-link a svg {
  width: 20px;
  height: 20px;
}
body nav .menu-part .other-links .shop-link a:hover p {
  color: #009687;
}
body nav .menu-part .other-links .shop-link a:hover svg {
  fill: #009687;
}
body nav .menu-part .other-links .heart-link {
  height: 20px;
}
body nav .menu-part .other-links .heart-link a {
  color: #242424;
  text-decoration: none;
}
body nav .menu-part .other-links .heart-link a svg {
  width: 20px;
  height: 20px;
}
body nav .menu-part .other-links .heart-link a:hover svg {
  fill: #009687;
}
body nav .menu-part .other-links .location-link {
  height: 20px;
}
body nav .menu-part .other-links .location-link a {
  text-decoration: none;
}
body nav .menu-part .other-links .location-link a svg {
  width: 20px;
  height: 20px;
}
body nav .menu-part .other-links .location-link a:hover svg {
  fill: #009687;
}
body nav .menu-part .other-links .hidden-menu-button {
  cursor: pointer;
}
body nav .menu-part .other-links .hidden-menu-button svg {
  width: 50px;
  height: 50px;
}
body nav .menu-part .other-links .hidden-menu-button:hover svg {
  fill: #009687;
}
body nav .hidden-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
body nav .hidden-menu .shadow {
  width: 100vw;
  height: 100vh;
  background-color: rgba(53, 53, 53, 0.2);
  opacity: 0;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
body nav .hidden-menu .shadow.active {
  opacity: 1;
}
body nav .hidden-menu .main-menu {
  position: absolute;
  right: -52vw;
  top: 0;
  background-color: #faf8f0;
  width: 52vw;
  height: 100vh;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
body nav .hidden-menu .main-menu .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  width: 50px;
  height: 50px;
}
body nav .hidden-menu .main-menu .close svg {
  width: 50px;
  height: 50px;
}
body nav .hidden-menu .main-menu .close:hover svg {
  fill: #009687;
}
body nav .hidden-menu .main-menu .main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  padding: 9rem 0 0 16%;
}
body nav .hidden-menu .main-menu .main-links .big-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #242424;
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 600;
}
body nav .hidden-menu .main-menu .main-links .big-link:hover {
  color: #009687;
}
body nav .hidden-menu .main-menu .main-links .small-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #242424;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: .8rem;
}
body nav .hidden-menu .main-menu .main-links .small-link:hover {
  color: #009687;
}
body nav .hidden-menu .main-menu.active {
  right: 0;
}
body nav .hidden-menu.active {
  display: block;
}
body .aside-navigation {
  position: fixed;
  z-index: 800;
  top: 50%;
  left: .5rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
body .aside-navigation .aside-navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link {
  background-color: #009687;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link p {
  color: #fff;
  display: none;
  cursor: pointer;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown {
  position: absolute;
  left: 19rem;
  width: 30rem;
  background-color: #009687;
  display: none;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 5rem;
  gap: .5rem 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .text h3 {
  color: #fff;
  text-align: center;
  margin: 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .text p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .8rem;
  width: 100%;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 5rem;
  gap: .5rem 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts .phone-number p {
  font-size: 1.2rem;
  margin: 0;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts .phone-number svg {
  width: 25px!important;
  height: 25px!important;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts .email p {
  font-size: 1.2rem;
  margin: 0;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts .email svg {
  width: 25px!important;
  height: 25px!important;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .contacts .email svg {
  width: 30px!important;
  height: 30px!important;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
  gap: .5rem 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1rem 5rem 0 5rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .8rem;
  padding: 0 5rem 1rem 5rem;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 94%;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form form input {
  width: 100%;
  border: none;
  height: 1.5rem;
  font-family: Asap;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form form input:focus {
  outline: 1px solid #222933;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form form textarea {
  width: 100%;
  height: 4rem;
  border: none;
  resize: none;
  font-family: Asap;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form form textarea:focus {
  outline: 1px solid #222933;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .contact-dropdown .send-form form .submit {
  cursor: pointer;
  position: relative;
  left: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px 24px;
  background-color: #242424;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link#contact svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link#contact:hover .contact-dropdown {
  display: block;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown {
  position: absolute;
  left: 19.2rem;
  width: 30rem;
  background-color: #009687;
  display: none;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .7rem;
  gap: 0 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .examples .example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  -webkit-transition: .15s;
  transition: .15s;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .examples .example h3 {
  color: #fff;
  margin: .5rem 0 0 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .examples .example p {
  color: #fff;
  margin: 0;
  font-size: .8rem;
  width: 100%;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .examples .example:hover {
  background-color: #00776b;
  padding: 2px;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .more-info h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1rem 5rem 0 5rem;
  font-size: 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .more-info p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .8rem;
  padding: 0 5rem 1rem 5rem;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .contact {
  background-color: #00776b;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kuchyne-dropdown .contact p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .9rem;
  padding: .3rem 0;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link#kuchyne:hover .kuchyne-dropdown {
  display: block;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown {
  position: absolute;
  left: 19.2rem;
  width: 30rem;
  background-color: #009687;
  display: none;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .7rem;
  gap: 0 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples .example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  -webkit-transition: .15s;
  transition: .15s;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples .example h3 {
  color: #fff;
  margin: .5rem 0 0 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples .example p {
  color: #fff;
  margin: 0;
  font-size: .8rem;
  width: 100%;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples .example:hover {
  background-color: #00776b;
  padding: 2px;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .more-info h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1rem 5rem 0 5rem;
  font-size: 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .more-info p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .8rem;
  padding: 0 5rem 1rem 5rem;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .contact {
  background-color: #00776b;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .contact p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .9rem;
  padding: .3rem 0;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples .example {
  gap: .7rem 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples .example img {
  width: 100%;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .examples .example p {
  font-weight: 500;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .contact {
  text-decoration: none;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .kurzy-dropdown .contact p {
  cursor: pointer;
  width: 100%;
  background-color: #00776b;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link#kurzy:hover .kurzy-dropdown {
  display: block;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .prodejny-dropdown {
  position: absolute;
  left: 19.2rem;
  width: 30rem;
  background-color: #009687;
  display: none;
  padding: .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .prodejny-dropdown .prodejna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  gap: 0 .5rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .prodejny-dropdown .prodejna img {
  width: 150px;
  height: 100px;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .prodejny-dropdown .prodejna .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .prodejny-dropdown .prodejna .content h3 {
  margin: 0;
  color: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .prodejny-dropdown .prodejna .content p {
  margin: 0;
  font-size: .8rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link#prodejny:hover .prodejny-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown {
  position: absolute;
  left: 19.2rem;
  width: 30rem;
  background-color: #009687;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem 0;
  padding-top: .5rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .7rem;
  gap: 0 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .examples .example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
  -webkit-transition: .15s;
  transition: .15s;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .examples .example h3 {
  color: #fff;
  margin: .5rem 0 0 0;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .examples .example p {
  color: #fff;
  margin: 0;
  font-size: .8rem;
  width: 100%;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .examples .example:hover {
  background-color: #00776b;
  padding: 2px;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .more-info h3 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1rem 5rem 0 5rem;
  font-size: 1rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .more-info p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .8rem;
  padding: 0 5rem 1rem 5rem;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .contact {
  background-color: #00776b;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .contact p {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: .9rem;
  padding: .3rem 0;
  cursor: text;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .aktualita {
  padding: 0 .5rem;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .aktualita img {
  width: 100%;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .contact {
  text-decoration: none;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link .aktuality-dropdown .contact p {
  cursor: pointer;
  width: 100%;
  background-color: #00776b;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link#aktuality svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
}
body .aside-navigation .aside-navigation-links .aside-navigation-link#aktuality:hover .aktuality-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .aside-navigation .aside-navigation-links:hover {
  position: relative;
  left: -0.5rem;
  background-color: #009687;
}
body .aside-navigation .aside-navigation-links:hover .aside-navigation-link {
  background-color: rgba(0, 150, 135, 0);
  width: 90%;
  border-radius: 0;
  padding: 0 5rem 0 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0 1rem;
}
body .aside-navigation .aside-navigation-links:hover .aside-navigation-link p {
  display: block;
}
body .aside-navigation .aside-navigation-links:hover .aside-navigation-link#contact {
  padding: 0 9rem 0 1.1rem;
}
body .aside-navigation .aside-navigation-links:hover .aside-navigation-link#aktuality {
  padding: 0 9rem 0 1.1rem;
}
body .aside-navigation .aside-navigation-links:hover {
  gap: 0;
}
body .aside-navigation .aside-navigation-links:hover .aside-navigation-link {
  height: 48px ;
}
body .main-carousel .swiper {
  width: calc(87%);
  height: 90vh;
}
body .main-carousel .swiper .swiper-wrapper {
  height: 83vh;
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  background-color: #c4c4c4;
  background-size: cover;
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide1 {
  background-image: url("images/lightstyle-cb/1.jpg");
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide1 .content {
  left: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide2 {
  background-image: url("images/lightstyle-cb/2.jpg");
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide2 .content {
  left: 63%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide3 {
  background-image: url("images/lightstyle-cb/3.jpg");
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide3 .content {
  left: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide4 {
  background-image: url("images/lightstyle-cb/4.jpg");
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide#slide4 .content {
  left: 63%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide .content {
  width: 25rem;
  height: 20rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide .content p {
  font-size: 1.5rem;
  margin: 0;
  color: #242424;
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide .content h3 {
  font-size: 3rem;
  margin: 0;
  color: #242424;
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide .content a {
  position: absolute;
  right: 3rem;
  bottom: 10%;
  width: 60px;
  height: 60px;
  color: #242424;
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide .content a svg {
  width: 60px;
  height: 60px;
}
body .main-carousel .swiper .swiper-wrapper .swiper-slide .content a:hover svg {
  fill: #009687;
}
body .main-carousel .swiper .swiper-pagination {
  position: relative;
  top: 1.5rem;
  padding: 3px 0;
}
body .main-carousel .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(0, -35%);
          transform: translate(0, -35%);
  background-color: #242424;
  opacity: 1;
}
body .main-carousel .swiper .swiper-pagination .swiper-pagination-bullet-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 10px;
  height: 10px;
  background-color: #242424;
}
body .background-blob {
  position: absolute;
  height: 300rem;
  top: 40rem;
  left: -100rem;
  z-index: 0;
}
body .section2 {
  position: relative;
  padding: 3rem 15rem;
}
body .section2 p {
  font-size: 2.3rem;
  font-weight: 400;
  color: #242424;
  line-height: 4rem;
}
body .section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 7rem;
  padding: 2rem 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
body .section .section-content {
  width: 33rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #242424;
}
body .section .section-content h3 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
body .section .section-content p {
  font-size: 1.4rem;
  margin: 0;
  line-height: 2rem;
}
body .section .section-content p.content-text {
  margin-top: 2rem;
}
body .section .section-content .section-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .section .section-content .section-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 3px;
  font-size: 1.4rem;
  color: #242424;
  text-decoration: none;
  gap: 0 1rem;
  margin-top: 1.5rem;
}
body .section .section-content .section-button a:hover {
  color: #009687;
}
body .section .section-content .section-button a:hover svg {
  fill: #009687;
}
body .section .section-image {
  width: 62rem;
  height: 40rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  background-position-x: 30%;
}
body .section .section-image .share-block {
  position: relative;
  left: 1rem;
  top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 1rem;
}
body .section3 .section3-image {
  background-image: url("images/lightstyle-cb/5.jpg");
}
body .section4 .section4-image {
  background-image: url("images/lightstyle-cb/6.jpg");
}
body .section5 .section5-image {
  background-image: url("images/lightstyle-cb/8.jpg");
}
body .section6 .section6-image {
  background-image: url("images/lightstyle-cb/9.jpg");
}
body .section7 .section7-image {
  background-image: url("images/lightstyle-cb/10.jpg");
}
body .benefits {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8rem 0 8rem 0;
}
body .benefits .heading h4 {
  color: #009687;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 3px;
}
body .benefits .benefits-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 5rem;
}
body .benefits .benefits-part .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
  gap: 1.5rem 0;
}
body .benefits .benefits-part .benefit .logo svg {
  height: 150px;
  width: 150px;
  fill: #009687;
}
body .benefits .benefits-part .benefit .benefit-text-1 {
  color: #242424;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}
body .benefits .benefits-part .benefit .benefit-text-2 {
  color: #242424;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
body .benefits .benefits-part.banefits-part-2 {
  margin-top: 5rem;
}
