@font-face {
    font-family: Myriad Pro Light;
    src: url(myriad-pro/MyriadPro-Light.woff);
  }
  @font-face {
    font-family: Myriad Pro Regular;
    src: url(myriad-pro/MYRIADPRO-REGULAR.woff);
  }
  @font-face {
    font-family: Myriad Pro Bold;
    src: url(myriad-pro/MYRIADPRO-BOLD.woff);
  }
  @font-face {
    font-family: Myriad Pro SemiBold;
    src: url(myriad-pro/MYRIADPRO-SEMIBOLD.woff);
  }
  .body{
      nav{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .menu-logo{}
          .menu{
              .menu-item{

              }
          }
      }
  }