@light: #f7eee3;
@dark1: #514f4d;
@dark2: #383633;
@font-face {
  font-family: main-font-burrow;
  src: url(source/GT-America-Extended-Medium-Trial.otf);
}
@font-face {
  font-family: neuzeit;
  src: url(source/Neuzeit.ttf);
}
body{

}
