@font-face {
  font-family: main-font-burrow;
  src: url(../source/GT-America-Extended-Medium-Trial.otf);
}
@font-face {
  font-family: neuzeit;
  src: url(../source/Neuzeit.ttf);
}
@font-face {
  font-family: Myriad Pro Light;
  src: url(../underpageRealizace/myriad-pro/MyriadPro-Light.woff);
}
@font-face {
  font-family: Myriad Pro Regular;
  src: url(../underpageRealizace/myriad-pro/MYRIADPRO-REGULAR.woff);
}
@font-face {
  font-family: Myriad Pro Bold;
  src: url(../underpageRealizace/myriad-pro/MYRIADPRO-BOLD.woff);
}
@font-face {
  font-family: Myriad Pro SemiBold;
  src: url(../underpageRealizace/myriad-pro/MYRIADPRO-SEMIBOLD.woff);
}
.button {
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  color: inherit;
  font-family: main-font-burrow;
  text-decoration: none;
}
button {
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
          writing-mode: horizontal-tb !important;
  outline: none;
  -webkit-appearance: none;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1.5rem 0.75rem 1.25rem;
  cursor: pointer;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: 0 0;
  color: inherit;
  font-family: main-font-burrow;
  text-decoration: none;
}
body {
  margin: 0;
}
body .header-navigation {
  background-color: #202020;
  position: relative;
  width: 100%;
}
body .header-navigation .header-nav-bx-utility-wrapper {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: .7475rem;
  letter-spacing: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  background-color: #202020;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding: 0 1rem 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header-navigation .header-nav-bx-utility-wrapper.unpinned {
  top: -0.7rem;
  height: 0;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: .7475rem;
  line-height: 1rem;
  letter-spacing: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-navigation_banner {
  position: relative;
  left: 33%;
  top: 50%;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-navigation_banner p {
  font-family: Neuzeit;
  letter-spacing: .3px;
  color: #e4e4e4;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .link {
  left: 25%;
  font-family: Myriad Pro Light;
  text-decoration: none;
  padding: 0  1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: .9rem;
  color: #e4e4e4;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .header-navigation .header-nav-bx-utility-wrapper .header-utility-navigation .header-utility-menu .link:hover {
  color: #888888!important;
}
body .header-navigation .search-bar {
  padding: .6rem 0;
  background-color: #111111;
}
body .header-navigation .search-bar .searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 58%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
body .header-navigation .search-bar .searchbox .logo img {
  width: 12rem;
}
body .header-navigation .search-bar .searchbox form input {
  height: 2.2rem;
  border: none;
  padding: 0 0.7rem;
  font-family: Myriad Pro Regular;
  font-size: 11pt;
}
body .header-navigation .search-bar .searchbox form input:focus {
  outline: 1px solid #222933;
}
body .header-navigation .search-bar .searchbox form input#bar {
  width: 35rem;
}
body .header-navigation .search-bar .searchbox form input#submit {
  background-color: #fc5900;
  color: white;
  letter-spacing: 1.5px;
}
body .header-navigation .search-bar .searchbox .kosik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
}
body .header-navigation .search-bar .searchbox .kosik p {
  margin: 0;
}
body .header-navigation .categories {
  background-color: #fc5900;
}
body .header-navigation .categories .categories-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .header-navigation .categories .categories-box .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8.5rem;
  height: 4rem;
  gap: 1rem;
  padding: 1rem .5rem;
  border-right: #db4e02 solid 2px;
  border-left: #ff620e solid 2px;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
body .header-navigation .categories .categories-box .category img {
  width: 2rem;
}
body .header-navigation .categories .categories-box .category p {
  margin: 0;
  color: white;
  line-height: 1rem;
  font-size: .9rem;
}
body .header-navigation .categories .categories-box .category:hover {
  background-color: #ff782f;
}
body .header-navigation .companies {
  background-color: #000000;
}
body .header-navigation .companies .companies-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .header-navigation .companies .companies-box .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 .1rem;
}
body .header-navigation .companies .companies-box .company img {
  height: 2rem;
}
body .header-navigation .companies .companies-box .company p {
  margin: 0;
  color: white;
  line-height: 1rem;
  font-size: .9rem;
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .ad-box {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 13rem;
  height: 80vh;
  background: linear-gradient(100deg, #380036, #0cbaba);
  margin: .3rem;
  padding: 0 1rem;
}
body main .ad-box h1 {
  color: white;
  font-family: "Outfit";
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0px 2px 10px rgba(231, 231, 231, 0.2), 0px 4px 20px rgba(231, 231, 231, 0.3);
}
body main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .3rem;
  width: 58%;
  height: 50rem;
  position: relative;
  margin: .3rem 0;
}
body main .main-content .filter {
  width: 15rem;
  height: 80vh;
}
body main .main-content .filter .filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: .3rem;
  padding: 10px 10px;
  width: 100%;
  background-color: #adc5d6;
  cursor: pointer;
  margin-top: .3rem;
}
body main .main-content .filter .filter-button svg {
  width: 1rem;
  height: 1rem;
  fill: #555555;
}
body main .main-content .filter .filter-button p {
  color: #555555;
  margin: 0;
  font-size: .9rem;
}
body main .main-content .filter .filter-button.main-menu-button {
  margin-top: 0;
}
body main .main-content .filter .filter-menu {
  background-color: #e3eaf0;
  margin-top: .3rem;
  padding-top: .5rem;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
body main .main-content .filter .filter-menu ul {
  padding-left: 1.5rem;
}
body main .main-content .filter .filter-menu ul li {
  padding: .3rem 0;
}
body main .main-content .filter .filter-menu ul li a {
  text-decoration: none;
  color: #555555;
  font-size: .8rem;
  fill: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .main-content .filter .filter-menu ul li a svg {
  width: 1rem;
  height: 1rem;
}
body main .main-content .filter .filter-menu ul li a:hover {
  color: #fc5900;
  fill: #fc5900;
}
body main .main-content .filter .filter-menu.main-menu {
  height: 0;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}
body main .main-content .filter .filter-menu.main-menu.active {
  height: 46rem;
}
body main .main-content .filter .filter-menu.main-menu.showed {
  display: block;
}
body main .main-content .filter .filter-menu.category-menu {
  padding-top: 0;
  height: 0;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}
body main .main-content .filter .filter-menu.category-menu .category-link {
  border-bottom: #555555 1px solid;
  margin: 0 1rem;
  padding: .3rem 0;
}
body main .main-content .filter .filter-menu.category-menu .category-link a {
  text-decoration: none;
  color: #555555;
  font-size: .8rem;
  text-align: center;
}
body main .main-content .filter .filter-menu.category-menu .category-link a:hover {
  color: #fc5900;
}
body main .main-content .filter .filter-menu.category-menu.active {
  height: 22rem;
}
body main .main-content .filter .filter-menu.category-menu.showed {
  display: block;
}
body main .main-content .filter .filter-menu.parameters-menu {
  height: 0;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}
body main .main-content .filter .filter-menu.parameters-menu .parameters-form .prefer-title {
  padding: .5rem 0 0 .7rem;
  font-weight: 500;
}
body main .main-content .filter .filter-menu.parameters-menu .parameters-form .prefer .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .main-content .filter .filter-menu.parameters-menu .parameters-form .prefer .part .form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em 1rem;
  font-size: .9rem;
  width: 100%;
  background: none;
  border: none;
  margin: -1rem 0;
}
body main .main-content .filter .filter-menu.parameters-menu .parameters-form .prefer .part .form-control input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  -webkit-transform: translateY(0.2em);
          transform: translateY(0.2em);
  display: grid;
  grid-template-columns: 1em auto;
}
body main .main-content .filter .filter-menu.parameters-menu .parameters-form .prefer .part .form-control input[type="checkbox"]::before {
  margin: .2em;
  content: "";
  width: .9em;
  height: .9em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #222933;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
body main .main-content .filter .filter-menu.parameters-menu .parameters-form .prefer .part .form-control input[type="checkbox"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
body main .main-content .filter .filter-menu.parameters-menu .line {
  width: 100%;
  height: 1px;
  background-color: #555555;
}
body main .main-content .filter .filter-menu.parameters-menu .cena {
  padding: .5rem 0 0 .7rem;
  font-weight: 500;
  margin: 0;
}
body main .main-content .filter .filter-menu.parameters-menu .prices li {
  padding: 0;
}
body main .main-content .filter .filter-menu.parameters-menu .prices li a {
  font-size: .9rem;
  text-decoration: none;
  color: #555555;
}
body main .main-content .filter .filter-menu.parameters-menu ::-moz-selection {
  color: #fff;
  background: #fc5900;
}
body main .main-content .filter .filter-menu.parameters-menu ::selection {
  color: #fff;
  background: #fc5900;
}
body main .main-content .filter .filter-menu.parameters-menu .wrapper {
  width: 100%;
  border-radius: 10px;
  padding: 10px 10px 10px;
}
body main .main-content .filter .filter-menu.parameters-menu header h2 {
  font-size: 24px;
  font-weight: 600;
}
body main .main-content .filter .filter-menu.parameters-menu header p {
  margin-top: 5px;
  font-size: 16px;
}
body main .main-content .filter .filter-menu.parameters-menu .price-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 35px;
}
body main .main-content .filter .filter-menu.parameters-menu .price-input .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .main-content .filter .filter-menu.parameters-menu .field input {
  position: relative;
  top: -1rem;
  width: 100%;
  height: 70%;
  outline: none;
  font-size: .9rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
body main .main-content .filter .filter-menu.parameters-menu input[type="number"]::-webkit-outer-spin-button,
body main .main-content .filter .filter-menu.parameters-menu input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body main .main-content .filter .filter-menu.parameters-menu .price-input .separator {
  position: relative;
  top: -1.1rem;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .main-content .filter .filter-menu.parameters-menu .slider {
  height: 5px;
  position: relative;
  background: #b1b1b1;
  border-radius: 5px;
}
body main .main-content .filter .filter-menu.parameters-menu .slider .progress {
  height: 100%;
  left: 0%;
  right: 90%;
  position: absolute;
  border-radius: 5px;
  background: #fc5900;
}
body main .main-content .filter .filter-menu.parameters-menu .range-input {
  position: relative;
}
body main .main-content .filter .filter-menu.parameters-menu .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
body main .main-content .filter .filter-menu.parameters-menu input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #fc5900;
  pointer-events: auto;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
body main .main-content .filter .filter-menu.parameters-menu input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.288);
}
body main .main-content .filter .filter-menu.parameters-menu.active {
  height: 31rem;
}
body main .main-content .filter .filter-menu.parameters-menu.showed {
  display: block;
}
body main .main-content .product {
  width: 100%;
  height: 80vh;
  padding: 0 .3rem;
}
body main .main-content .product .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
body main .main-content .product .path .home svg {
  fill: #3b3b3b;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -2px;
}
body main .main-content .product .path .arrow {
  stroke: #8b8b8b;
  width: 1rem;
  height: 1rem;
}
body main .main-content .product .path a {
  color: #3b3b3b;
  font-size: .8rem;
  margin: 0;
  text-decoration: none;
}
body main .main-content .product .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
body main .main-content .product .columns .column {
  width: 50%;
}
body main .main-content .product .columns .column .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .main-content .product .columns .column .heading .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 1rem;
}
body main .main-content .product .columns .column .heading .head h1 {
  font-family: Outfit;
  font-weight: 200;
  font-size: 1.6rem;
}
body main .main-content .product .columns .column .heading .head .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .main-content .product .columns .column .heading p {
  font-size: .9rem;
  margin-bottom: .5rem;
}
body main .main-content .product .columns .column .heading a {
  padding: 6px 12px;
  background-color: #2388d6;
  color: white;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: .9rem;
}
body main .main-content .product .columns .column .images {
  margin-top: 3rem;
  cursor: pointer;
}
body main .main-content .product .columns .column .images .main-image {
  width: 100%;
}
body main .main-content .product .columns .column .images .zaruka {
  width: 100px;
  position: absolute;
  top: 73%;
  left: 50%;
}
body main .main-content .product .columns .column .images .other-images {
  width: 100%;
}
body main .main-content .product .columns .column .zaruka-v-cz {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dddddd;
  padding: .5rem;
  gap: .5rem;
}
body main .main-content .product .columns .column .zaruka-v-cz h3 {
  font-size: 1.2rem;
  color: #fc5900;
  margin: 0;
}
body main .main-content .product .columns .column .zaruka-v-cz p {
  font-size: .7rem;
  margin: 0;
}
body main .main-content .product .columns .column#column-2 {
  padding-top: 13%;
}
body main .main-content .product .columns .column#column-2 .product-banner img {
  width: 100%;
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox {
  margin-top: 2rem;
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer-title {
  padding: .5rem 0 0 .7rem;
  font-weight: 500;
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer .part .form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em 1rem;
  font-size: .9rem;
  width: 100%;
  background: none;
  border: none;
  margin: -1rem 0;
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer .part .form-control input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ececec;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  -webkit-transform: translateY(0.2em);
          transform: translateY(0.2em);
  display: grid;
  grid-template-columns: 1em auto;
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer .part .form-control input[type="radio"]::before {
  margin: .2em;
  content: "";
  width: .9em;
  height: .9em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #222933;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer .part .form-control input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer .part .form-control a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
body main .main-content .product .columns .column#column-2 .zaruka-checkbox .parameters-form .prefer .part .form-control a p {
  margin: 0;
}
body main .main-content .product .columns .column#column-2 .product-status {
  border-top: #e7e7e7 solid 1px;
  border-bottom: #e7e7e7 solid 1px;
  padding: 1rem 0;
}
body main .main-content .product .columns .column#column-2 .product-status .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
body main .main-content .product .columns .column#column-2 .product-status .content .discription p {
  font-size: .9rem;
}
body main .main-content .product .columns .column#column-2 .product-status .content .status-box .status {
  padding: 3px 12px;
  background-color: #94c535;
  font-size: .9rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  font-weight: 500;
  color: white;
}
body main .main-content .product .columns .column#column-2 .product-status .content .status-box .more {
  font-size: .8rem;
  margin: 0;
}
body main .main-content .product .columns .column#column-2 .doprava {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1rem;
}
body main .main-content .product .columns .column#column-2 .doprava p {
  padding: 3px 12px;
  background-color: #2388d6;
  font-size: .8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  font-weight: 400;
  color: white;
}
body main .main-content .product .columns .column#column-2 .akce {
  background-color: #fc5900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: .5rem 0;
}
body main .main-content .product .columns .column#column-2 .akce h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
body main .main-content .product .columns .column#column-2 .akce p {
  margin: 0;
}
body main .main-content .product .columns .column#column-2 .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20%;
  padding: 1rem 0;
}
body main .main-content .product .columns .column#column-2 .prices .prev-price p {
  color: #94c535;
  margin: 0;
  font-size: .8rem;
}
body main .main-content .product .columns .column#column-2 .prices .prev-price h1 {
  color: #94c535;
  text-decoration: line-through;
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}
body main .main-content .product .columns .column#column-2 .prices .actual-price h1 {
  color: #fc5900;
  margin: 0;
  text-decoration: line-through;
  font-weight: 700;
  font-size: 2rem;
}
body main .main-content .product .columns .column#column-2 .buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
body main .main-content .product .columns .column#column-2 .buy .splatka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .3rem;
}
body main .main-content .product .columns .column#column-2 .buy .splatka img {
  height: 2.5rem;
}
body main .main-content .product .columns .column#column-2 .buy .splatka a {
  font-size: .9rem;
  width: 100%;
}
body main .main-content .product .columns .column#column-2 .buy .buy-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fc5900;
  padding: 12px 24px;
  gap: .5rem;
}
body main .main-content .product .columns .column#column-2 .buy .buy-button svg {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
}
body main .main-content .product .columns .column#column-2 .buy .buy-button h3 {
  color: white;
  font-weight: 200;
  font-size: 1.3rem;
  margin: 0;
  cursor: pointer;
}
body main .main-content .product .columns .column#column-2 .more-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
  gap: 1rem .5rem;
}
body main .main-content .product .columns .column#column-2 .more-links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  gap: .5rem;
}
body main .main-content .product .columns .column#column-2 .more-links .link img {
  height: 100%;
}
body main .main-content .product .columns .column#column-2 .more-links .link a {
  text-decoration: none;
  color: #202020;
  font-size: .9rem;
}
body main .main-content .product .columns .column#column-2 .more-links .link p {
  margin: 0;
  font-size: .9rem;
}
body main .main-content .product .columns .column#column-2 .more-links .link#link3 img {
  height: 100%;
}
body main .main-content .product .columns .column#column-2 .more-links .link#link4 img {
  height: 100%;
}
body main .main-content .product .columns .column#column-2 .more-links .link#link5 img {
  height: 100%;
}
body main .main-content .product .hidden-carousel {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.5);
  padding: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}
body main .main-content .product .hidden-carousel .carousel-part-1 {
  width: 65%;
  height: 100%;
  background-color: white;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper {
  height: 100%;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide1 {
  background: url("images/Bosch SGV4HVX33E.jpg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide2 {
  background: url("images/Bosch SGV4HVX33E-2.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide3 {
  background: url("images/Bosch SGV4HVX33E-3.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide4 {
  background: url("images/Bosch SGV4HVX33E-4.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide5 {
  background: url("images/Bosch SGV4HVX33E-5.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide6 {
  background: url("images/Bosch SGV4HVX33E-6.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide7 {
  background: url("images/Bosch SGV4HVX33E-7.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide8 {
  background: url("images/Bosch SGV4HVX33E-8.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide9 {
  background: url("images/Bosch SGV4HVX33E-9.jpg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-1 .swiper .swiper-wrapper .swiper-slide#slide10 {
  background: url("images/Bosch SGV4HVX33E-10.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
body main .main-content .product .hidden-carousel .carousel-part-2 {
  background-color: #f7eee3;
  height: 100%;
  width: 100%;
}
body main .main-content .product .hidden-carousel .carousel-part-2 .swiper {
  width: 100%;
  height: 40%;
  margin: 0;
  overflow: visible;
  padding: 3rem;
}
body main .main-content .product .hidden-carousel .carousel-part-2 .swiper .swiper-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body main .main-content .product .hidden-carousel .carousel-part-2 .swiper .swiper-wrapper .swiper-slide {
  min-width: 8rem;
  height: 5rem;
}
body main .main-content .product .hidden-carousel .carousel-part-2 .swiper .close {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}
body main .main-content .product .hidden-carousel .swiper {
  width: 100%;
  height: 100%;
}
body main .main-content .product .hidden-carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body main .main-content .product .hidden-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .main-content .product .hidden-carousel body {
  background: #000;
  color: #000;
}
body main .main-content .product .hidden-carousel .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
body main .main-content .product .hidden-carousel .swiper-slide {
  background-size: cover;
  background-position: center;
}
body main .main-content .product .hidden-carousel .mySwiper2 {
  height: 80%;
  width: 100%;
}
body main .main-content .product .hidden-carousel .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}
body main .main-content .product .hidden-carousel .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
body main .main-content .product .hidden-carousel .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
body main .main-content .product .hidden-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .main-content .product .hidden-carousel.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
