.swiper{
  width: 100%;
  height: 600px;
  .swiper-wrapper{
    // padding-left: 30rem;
    .swiper-slide{
      background-color: #ffc107;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // border: solid #2196f3 3px;
      &#slide1{
        background-image: url("../source/carousel/1.png");
      }
      &#slide2{
        background-image: url("../source/carousel/1-1.png");
      }
      &#slide3{
        background-image: url("../source/carousel/2.png");
      }
      &#slide4{
        background-image: url("../source/carousel/2-2.png");
      }
      &#slide5{
        background-image: url("../source/carousel/3.png");
      }
      &#slide6{
        background-image: url("../source/carousel/3-2.png");
      }
      &#slide7{
        background-image: url("../source/carousel/4.png");
      }
      &#slide8{
        background-image: url("../source/carousel/4-1.png");
      }
      &#slide9{
        background-image: url("../source/carousel/5.png");
      }
      &#slide10{
        background-image: url("../source/carousel/5-1.png");
      }
      &#slide11{
        background-image: url("../source/carousel/6.png");
      }
      &#slide12{
        background-image: url("../source/carousel/6-1.png");
      }
    }
  }
  .swiper-pagination-bullet{
    width: 30px;
    height: 5px;
    border-radius: 5px;
  }
  .swiper-pagination-bullet-active{
    // width: 15px;
    // border-radius: 5px;

    background-color: #ffffff;

  }
  .swiper-button-prev{
    color: #ffffff;
  }
  .swiper-button-next{
    color: #ffffff;
  }
}
