@font-face {
  font-family: Myriad Pro Light;
  src: url(myriad-pro/MyriadPro-Light.woff);
}
@font-face {
  font-family: Myriad Pro Regular;
  src: url(myriad-pro/MYRIADPRO-REGULAR.woff);
}
@font-face {
  font-family: Myriad Pro Bold;
  src: url(myriad-pro/MYRIADPRO-BOLD.woff);
}
@font-face {
  font-family: Myriad Pro SemiBold;
  src: url(myriad-pro/MYRIADPRO-SEMIBOLD.woff);
}
body {
  font-family: Myriad Pro Light;
  .header_card {
    height: 44rem;
    background: url("main-images/Hlavnifotkasodstinem.png");
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    font-weight: 300;
    margin: 0;
  }
  //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
  //? ☲☲☲☲ SECTION 1 ☲☲☲☲
  //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
  .section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0 3rem;
    padding: 4rem 10rem;
    flex-wrap: nowrap;
    .section1-content {
      // background-color: aqua;
      width: 38rem;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem 0;
      color: #000;
      h3 {
        font-size: 2.8rem;
        font-weight: 900;
        font-family: Myriad Pro Regular;
      }
      p {
        font-size: 1.5rem;
        font-weight: 900;
        font-family: Myriad Pro Light;
      }
      .links {
        display: flex;
        flex-direction: row;
        gap: 0 2rem;

        a {
          padding: 12px 35px 12px 15px;
          width: fit-content;
          background-color: #000;
          border-radius: 50px;
          color: #ffffff;
          font-weight: 200;
          font-size: 1.3rem;

          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0 0.8rem;
          .small-image {
            width: 25px;
            height: 25px;

            &#phone-icon {
              background: url("main-images/icons/phone.png");
              background-position: center;
              background-size: cover;
              transform: rotate(20deg);
            }
            &#mail-icon {
              background: url("main-images/icons/email.png");
              background-position: center;
              background-size: cover;
              width: 30px;
            }
          }
        }
      }
    }

    .section1-image {
      width: 617px;
      height: 617px;
      background-image: url("main-images/hlavni-podstranka/3.png");
      background-size: cover;
      background-position-x: 30%;
      .share-block {
        position: relative;
        left: 1rem;
        top: 0.5rem;
        display: flex;
        gap: 0 1rem;
      }
    }
  }

}

.section2{
  padding: 0 10rem;
  .grid {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
    .grid-image{
      position: relative;
      height: 20rem;
      width: 30%;
      background-size: cover;
      background-position: center;
      .content{
        position: absolute;
        bottom: 5%;
        padding: 0 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .image-text{
          font-family: Myriad Pro Regular;
          font-size: 1.2rem;
          color: #ffffff;
          font-weight: 600;
          width: 70%;
          margin: 0;
        }
        a{
          font-family: Myriad Pro Light;
          font-size: 1rem;
          color: #ffffff;
          font-weight: 400;
          text-decoration: underline;
        }
      }
      &#grid-image1 { 
        // grid-area: a;
        background-image: url("main-images/galerie-realizace/30.png");
      }
      &#grid-image2 { 
        // grid-area: b;
        background-image: url("main-images/galerie-realizace/28.png");
      }
      &#grid-image3 { 
        // grid-area: c;
      background-image: url("main-images/galerie-realizace/26.png");
      }
      &#grid-image4 { 
        // grid-area: sv;
      background-image: url("main-images/galerie-realizace/24.png");
      }
      &#grid-image5 { 
        // grid-area: a;
      background-image: url("main-images/galerie-realizace/22.png");
      }
      &#grid-image6 { 
        // grid-area: f;
      background-image: url("main-images/galerie-realizace/20.png");
      }
      &#grid-image7 { 
        // grid-area: g;
      background-image: url("main-images/galerie-realizace/18.png");
      }
      &#grid-image8 { 
        // grid-area: h;
      background-image: url("main-images/galerie-realizace/14.png");
      }
      &#grid-image9 { 
        // grid-area: j;
      background-image: url("main-images/galerie-realizace/23.png");
      }
      &#grid-image10 {
        //  grid-area: k;
        background-image: url("main-images/galerie-realizace/19.png");
        }
      &#grid-image11 {
        //  grid-area: l;
        background-image: url("main-images/galerie-realizace/6.png");
        }
      &#grid-image12 {
        //  grid-area: m;
        background-image: url("main-images/galerie-realizace/12.png");
        }
      &#grid-image13 {
        //  grid-area: n;
        background-image: url("main-images/galerie-realizace/8.png");
        }
      &#grid-image14 {
        //  grid-area: o;
        background-image: url("main-images/galerie-realizace/10.png");
        }
      &#grid-image15 {
        //  grid-area: p;
        background-image: url("main-images/galerie-realizace/3.png");
        }
      &#grid-image16 {
        //  grid-area: g;
        background-image: url("main-images/galerie-realizace/2.png");
        }
      &#grid-image17 {
        //  grid-area: h;
        background-image: url("main-images/galerie-realizace/1.png");
        }
      &#grid-image18 {
        //  grid-area: i;
        background-image: url("main-images/galerie-realizace/21.png");
        
        }
      &#grid-image19 {
        //  grid-area: u;
        background-image: url("main-images/galerie-realizace/17.png");
        }
      &#grid-image20 {
        //  grid-area: y;
        background-image: url("main-images/galerie-realizace/25.png");
        }
      &#grid-image21 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/27.png");
        }
      &#grid-image22 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/29.png");
        }
      &#grid-image23 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/31.png");
        }
      &#grid-image24 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/16.png");
        }
      &#grid-image25 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/15.png");
        }
      &#grid-image26 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/13.png");
        }
      &#grid-image27 {
        background-image: url("main-images/galerie-realizace/32.png");
        //  grid-area: a;
        }
      &#grid-image28 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/7.png");
        }
      &#grid-image29 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/9.png");
        }
      &#grid-image30 {
        //  grid-area: a;
        background-image: url("main-images/galerie-realizace/11.png");
        }
      &#grid-image31 {
        background-image: url("main-images/galerie-realizace/5.png");
        }
      &#grid-image32 {
        background-image: url("main-images/galerie-realizace/4.png");
        }
        
      }
      
}
.last_cover_image{
  margin-top: 2rem;
}



@media (min-width: 2000px){
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 64rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
      .header_title{
        font-size: 3rem;
      }
      .header_button{
        font-size: 1.8rem;
      }
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 3rem 20rem;
      flex-wrap: nowrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 3rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.8rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 60rem;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
	}
}

//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
//! ☲☲☲☲ BIG DESKTOP ☲☲☲☲
//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲

@media (min-width: 2000px){
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 64rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
      .header_title{
        font-size: 3rem;
      }
      .header_button{
        font-size: 1.8rem;
      }
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 3rem 20rem;
      flex-wrap: nowrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 3rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.8rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 43vw;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 2 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section2{
      padding: .5rem 15.5rem 0 15.5rem;
      .grid {
        width: 100%;
      }
        .grid-image{
          height: 25rem;
          width: 30%;
          background-size: cover;
          background-position: center;
          position: relative;
          .content{
            flex-direction: row;
            align-items: flex-end;
            .image-text{
              font-size: 1.5rem;
            }
            a{
              font-size: 1.3rem;
            }
          }
      }
    }
	}
}

//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲
//! ☲☲☲☲ DESKTOP ☲☲☲☲
//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲

@media (min-width: 1400px) and (max-width: 1699px) {
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 34rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 3rem 10rem;
      flex-wrap: nowrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 2rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.2rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 43vw;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
    .section2{
      padding: 0 1rem;
      .grid {
        width: 100%;
      }
        .grid-image{
          height: 20rem;
          width: 30%;
          background-size: cover;
          background-position: center;
          position: relative;
          .content{
            flex-direction: row;
            align-items: flex-end;
            .image-text{
              font-size: 1rem;
            }
            a{
              font-size: .9rem;
            }
          }
      }
    }
	}
}


//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲
//! ☲☲☲☲ LAPTOP ☲☲☲☲
//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲

@media (min-width: 1200px)  and (max-width: 1399px){
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 34rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 3rem 5rem;
      flex-wrap: nowrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 2rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.2rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 43vw;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
    .section2{
      padding: 0 1rem;
      .grid {
        width: 100%;
      }
        .grid-image{
          height: 20rem;
          width: 30%;
          background-size: cover;
          background-position: center;
          position: relative;
          .content{
            flex-direction: row;
            align-items: flex-end;
            .image-text{
              font-size: 1rem;
            }
            a{
              font-size: .9rem;
            }
          }
      }
    }
	}
}


//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
//! ☲☲☲☲ SMALL LAPTOP ☲☲☲☲
//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲

@media (min-width: 992px) and (max-width: 1199px) {
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 34rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 3rem 5rem;
      flex-wrap: nowrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 2rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.2rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 43vw;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
    .section2{
      padding: 0 1rem;
      .grid {
        width: 100%;
      }
        .grid-image{
          height: 20rem;
          width: 45%;
          background-size: cover;
          background-position: center;
          position: relative;
          .content{
            flex-direction: row;
            align-items: flex-end;
            .image-text{
              font-size: 1rem;
            }
            a{
              font-size: .9rem;
            }
          }
      }
    }
	}
}


//! ☲☲☲☲☲☲☲☲☲☲☲☲☲
//! ☲☲☲☲ TABLET ☲☲☲☲
//! ☲☲☲☲☲☲☲☲☲☲☲☲☲

@media (min-width: 768px) and (max-width: 991px){
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 34rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 3rem 5rem;
      flex-wrap: wrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 2rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.2rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 80vw;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
    .section2{
      padding: 0 1rem;
      .grid {
        width: 100%;
      }
        .grid-image{
          height: 20rem;
          width: 45%;
          background-size: cover;
          background-position: center;
          position: relative;
          .content{
            flex-direction: column;
            align-items: baseline;
            .image-text{
              font-size: 1rem;
            }
            a{
              font-size: .9rem;
            }
          }
      }
    }
	}
}

//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
//! ☲☲☲☲ BIG PHONE ☲☲☲☲
//! ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲

@media (min-width: 576px) and (max-width: 767px){
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 34rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 2rem 1rem;
      flex-wrap: wrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 2rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.2rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: column;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 100vw;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
    .section2{
      padding: 0 1rem;
      .grid {
        width: 100%;
      }
        .grid-image{
          height: 20rem;
          width: 45%;
          background-size: cover;
          background-position: center;
          position: relative;
          .content{
            flex-direction: column;
            align-items: baseline;
            .image-text{
              font-size: 1rem;
            }
            a{
              font-size: .9rem;
            }
          }
      }
    }
	}
}

//! ☲☲☲☲☲☲☲☲☲☲☲☲☲
//! ☲☲☲☲ PHONE ☲☲☲☲
//! ☲☲☲☲☲☲☲☲☲☲☲☲☲

@media (max-width: 576px) {
  body{
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ HEADER ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲
    .header_card {
      height: 34rem;
      background: url("main-images/Hlavnifotkasodstinem.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 4rem;
      font-weight: 300;
      margin: 0;
    }
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    //? ☲☲☲☲ SECTION 1 ☲☲☲☲
    //? ☲☲☲☲☲☲☲☲☲☲☲☲☲☲☲
    .section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0 3rem;
      padding: 2rem 1rem;
      flex-wrap: wrap;
      .section1-content {
        // background-color: aqua;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        color: #000;
        padding-bottom: 2rem;
        h3 {
          font-size: 2rem;
          font-weight: 900;
          font-family: Myriad Pro Regular;
        }
        p {
          font-size: 1.2rem;
          font-weight: 900;
          font-family: Myriad Pro Light;
        }
        .links {
          display: flex;
          flex-direction: column;
          gap: 1rem 2rem;

          a {
            padding: 12px 35px 12px 15px;
            width: fit-content;
            background-color: #000;
            border-radius: 50px;
            color: #ffffff;
            font-weight: 200;
            font-size: 1.3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0 0.8rem;
            .small-image {
              width: 25px;
              height: 25px;

              &#phone-icon {
                background: url("main-images/icons/phone.png");
                background-position: center;
                background-size: cover;
                transform: rotate(20deg);
              }
              &#mail-icon {
                background: url("main-images/icons/email.png");
                background-position: center;
                background-size: cover;
                width: 30px;
              }
            }
          }
        }
      }

      .section1-image {
        width: 100vw;
        // min-width: 400px;
        height: 23rem;
        background-image: url("main-images/hlavni-podstranka/3.png");
        background-size: cover;
        background-position-x: 30%;
        .share-block {
          position: relative;
          left: 1rem;
          top: 0.5rem;
          display: flex;
          gap: 0 1rem;
        }
      }
    }
    .section2{
      padding: 0 1rem;
      .grid {
        width: 100%;
      }
        .grid-image{
          height: 20rem;
          width: 100%;
          background-size: cover;
          background-position: center;
          position: relative;
          .content{
            .image-text{
              font-size: 1rem;
            }
            a{
              font-size: .9rem;
            }
          }
      }
    }
	}
}