body{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        h1{
            font-family: Kanit;
        }
    }
    .exampleSection{
        display: flex;
        flex-direction: row;
        gap: 1 1 50px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .instagram{
            overflow: hidden;
            width: 25rem;
        }
    }
}