.carousel1 .swiper {
  width: 100%;
  height: 600px;
}
.carousel1 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide1 {
  background-image: url("carousel1-images/1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide2 {
  background-image: url("carousel1-images/1-1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide3 {
  background-image: url("carousel1-images/2.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide4 {
  background-image: url("carousel1-images/2-2.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide5 {
  background-image: url("carousel1-images/3.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide6 {
  background-image: url("carousel1-images/3-2.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide7 {
  background-image: url("carousel1-images/4.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide8 {
  background-image: url("carousel1-images/4-1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide9 {
  background-image: url("carousel1-images/5.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide10 {
  background-image: url("carousel1-images/5-1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide11 {
  background-image: url("carousel1-images/6.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide12 {
  background-image: url("carousel1-images/6-1.png");
}
.carousel1 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.carousel1 .swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.carousel1 .swiper .swiper-button-prev {
  color: #ffffff;
}
.carousel1 .swiper .swiper-button-next {
  color: #ffffff;
}
.slideshow {
  width: 100%;
  background: #f7eee3;
  display: flex;
  justify-content: center;
}
.slideshow .carousel2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
  background: #f7eee3;
  padding: 5rem 0;
}
.slideshow .carousel2 .swiper {
  max-width: 40rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide#slide13 {
  background-image: url("carousel2-images/1.png");
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide#slide14 {
  background-image: url("carousel2-images/2.png");
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide#slide15 {
  background-image: url("carousel2-images/3.png");
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.slideshow .carousel2 .swiper .swiper-button-prev {
  color: #ffffff;
}
.slideshow .carousel2 .swiper .swiper-button-next {
  color: #ffffff;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide#slide1 {
  background: none;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide#slide2 {
  background: none;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide#slide3 {
  background: none;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide .heading {
  height: 15rem;
  display: flex;
  align-items: center;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide .heading h1 {
  text-align: center;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide .text {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 10rem;
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #9e9e9e;
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
  background-color: #2d2d2d;
}
.slideshow {
  width: 100%;
  background: #f7eee3;
  display: flex;
  justify-content: center;
}
.slideshow .carousel3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
}
.slideshow .carousel3 .swiper {
  max-width: 40rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide21 {
  background-image: url("carousel3-images/1.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide22 {
  background-image: url("carousel3-images/2.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide23 {
  background-image: url("carousel3-images/3.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide24 {
  background-image: url("carousel3-images/4.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide25 {
  background-image: url("carousel3-images/5.png");
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.slideshow .carousel3 .swiper .swiper-button-prev {
  color: #ffffff;
}
.slideshow .carousel3 .swiper .swiper-button-next {
  color: #ffffff;
}
.slideshow .carousel3 .swiper.swiper4 {
  max-width: 20rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide16 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide17 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide18 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide19 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide20 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide .heading {
  height: 15rem;
  display: flex;
  align-items: center;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide .heading h1 {
  text-align: left;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide .text {
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #9e9e9e;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet-active {
  background-color: #2d2d2d;
}
.slideshow .carousel3 .swiper .controllers {
  position: absolute;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-gap: 10px;
  width: 70px;
  height: 20px;
  top: 500px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-prev {
  color: #9e9e9e;
  width: 20px;
  height: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-prev::after {
  font-size: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-next {
  color: #9e9e9e;
  width: 20px;
  height: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-next::after {
  font-size: 20px;
}
.carousel6 .swiper {
  width: 100%;
  height: 700px;
}
.carousel6 .swiper .swiper-wrapper {
  height: 600px;
}
.carousel6 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide26 {
  background-image: url("bratislava/1.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide27 {
  background-image: url("bratislava/2.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide28 {
  background-image: url("bratislava/3.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide29 {
  background-image: url("bratislava/4.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide30 {
  background-image: url("bratislava/5.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide31 {
  background-image: url("bratislava/6.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide32 {
  background-image: url("bratislava/7.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide33 {
  background-image: url("bratislava/8.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide34 {
  background-image: url("bratislava/9.jpg");
}
.carousel6 .swiper .swiper-wrapper .swiper-slide#slide35 {
  background-image: url("bratislava/10.jpg");
}
.carousel6 .swiper .pagination6 {
  position: relative;
  top: 2.5rem;
}
.carousel6 .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.carousel6 .swiper .swiper-pagination-bullet-active {
  background-color: #000000;
}
.carousel6 .swiper .swiper-button-prev {
  color: #ffffff;
}
.carousel6 .swiper .swiper-button-next {
  color: #ffffff;
}
.carousel7 .swiper {
  width: 100%;
  height: 700px;
}
.carousel7 .swiper .swiper-wrapper {
  height: 600px;
}
.carousel7 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide26 {
  background-image: url("bratislava/1.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide27 {
  background-image: url("bratislava/2.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide28 {
  background-image: url("bratislava/3.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide29 {
  background-image: url("bratislava/4.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide30 {
  background-image: url("bratislava/5.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide31 {
  background-image: url("bratislava/6.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide32 {
  background-image: url("bratislava/7.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide33 {
  background-image: url("bratislava/8.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide34 {
  background-image: url("bratislava/9.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide35 {
  background-image: url("bratislava/10.jpg");
}
.carousel7 .swiper .pagination6 {
  position: relative;
  top: 2.5rem;
}
.carousel7 .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.carousel7 .swiper .swiper-pagination-bullet-active {
  background-color: #000000;
}
.carousel7 .swiper .swiper-button-prev {
  color: #ffffff;
}
.carousel7 .swiper .swiper-button-next {
  color: #ffffff;
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide36 {
  background-image: url("cb-miele/1.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide37 {
  background-image: url("cb-miele/2.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide38 {
  background-image: url("cb-miele/3.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide39 {
  background-image: url("cb-miele/4.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide40 {
  background-image: url("cb-miele/5.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide41 {
  background-image: url("cb-miele/6.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide42 {
  background-image: url("cb-miele/7.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide43 {
  background-image: url("cb-miele/8.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide44 {
  background-image: url("cb-miele/9.jpg");
}
.carousel7 .swiper .swiper-wrapper .swiper-slide#slide45 {
  background-image: url("cb-miele/10.jpg");
}
.carousel7 .swiper .pagination7 {
  position: relative;
  top: 2.5rem;
}
.carousel8 .swiper {
  width: 100%;
  height: 700px;
}
.carousel8 .swiper .swiper-wrapper {
  height: 600px;
}
.carousel8 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide26 {
  background-image: url("bratislava/1.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide27 {
  background-image: url("bratislava/2.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide28 {
  background-image: url("bratislava/3.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide29 {
  background-image: url("bratislava/4.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide30 {
  background-image: url("bratislava/5.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide31 {
  background-image: url("bratislava/6.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide32 {
  background-image: url("bratislava/7.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide33 {
  background-image: url("bratislava/8.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide34 {
  background-image: url("bratislava/9.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide35 {
  background-image: url("bratislava/10.jpg");
}
.carousel8 .swiper .pagination6 {
  position: relative;
  top: 2.5rem;
}
.carousel8 .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.carousel8 .swiper .swiper-pagination-bullet-active {
  background-color: #000000;
}
.carousel8 .swiper .swiper-button-prev {
  color: #ffffff;
}
.carousel8 .swiper .swiper-button-next {
  color: #ffffff;
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide46 {
  background-image: url("lightstyle-cb/1.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide47 {
  background-image: url("lightstyle-cb/2.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide48 {
  background-image: url("lightstyle-cb/3.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide49 {
  background-image: url("lightstyle-cb/4.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide50 {
  background-image: url("lightstyle-cb/5.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide51 {
  background-image: url("lightstyle-cb/6.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide52 {
  background-image: url("lightstyle-cb/7.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide53 {
  background-image: url("lightstyle-cb/8.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide54 {
  background-image: url("lightstyle-cb/9.jpg");
}
.carousel8 .swiper .swiper-wrapper .swiper-slide#slide55 {
  background-image: url("lightstyle-cb/10.jpg");
}
.carousel8 .swiper .pagination8 {
  position: relative;
  top: 2.5rem;
}
.carousel9 .swiper {
  width: 100%;
  height: 700px;
}
.carousel9 .swiper .swiper-wrapper {
  height: 600px;
}
.carousel9 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide26 {
  background-image: url("bratislava/1.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide27 {
  background-image: url("bratislava/2.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide28 {
  background-image: url("bratislava/3.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide29 {
  background-image: url("bratislava/4.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide30 {
  background-image: url("bratislava/5.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide31 {
  background-image: url("bratislava/6.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide32 {
  background-image: url("bratislava/7.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide33 {
  background-image: url("bratislava/8.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide34 {
  background-image: url("bratislava/9.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide35 {
  background-image: url("bratislava/10.jpg");
}
.carousel9 .swiper .pagination6 {
  position: relative;
  top: 2.5rem;
}
.carousel9 .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.carousel9 .swiper .swiper-pagination-bullet-active {
  background-color: #000000;
}
.carousel9 .swiper .swiper-button-prev {
  color: #ffffff;
}
.carousel9 .swiper .swiper-button-next {
  color: #ffffff;
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide56 {
  background-image: url("praha-lightstyle/1.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide57 {
  background-image: url("praha-lightstyle/2.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide58 {
  background-image: url("praha-lightstyle/3.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide59 {
  background-image: url("praha-lightstyle/4.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide60 {
  background-image: url("praha-lightstyle/5.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide61 {
  background-image: url("praha-lightstyle/6.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide62 {
  background-image: url("praha-lightstyle/7.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide63 {
  background-image: url("praha-lightstyle/8.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide64 {
  background-image: url("praha-lightstyle/9.jpg");
}
.carousel9 .swiper .swiper-wrapper .swiper-slide#slide65 {
  background-image: url("praha-lightstyle/10.jpg");
}
.carousel9 .swiper .pagination9 {
  position: relative;
  top: 2.5rem;
}
.carousel10 .swiper {
  width: 100%;
  height: 700px;
}
.carousel10 .swiper .swiper-wrapper {
  height: 600px;
}
.carousel10 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide26 {
  background-image: url("bratislava/1.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide27 {
  background-image: url("bratislava/2.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide28 {
  background-image: url("bratislava/3.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide29 {
  background-image: url("bratislava/4.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide30 {
  background-image: url("bratislava/5.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide31 {
  background-image: url("bratislava/6.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide32 {
  background-image: url("bratislava/7.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide33 {
  background-image: url("bratislava/8.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide34 {
  background-image: url("bratislava/9.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide35 {
  background-image: url("bratislava/10.jpg");
}
.carousel10 .swiper .pagination6 {
  position: relative;
  top: 2.5rem;
}
.carousel10 .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.carousel10 .swiper .swiper-pagination-bullet-active {
  background-color: #000000;
}
.carousel10 .swiper .swiper-button-prev {
  color: #ffffff;
}
.carousel10 .swiper .swiper-button-next {
  color: #ffffff;
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide66 {
  background-image: url("praha-miele/1.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide67 {
  background-image: url("praha-miele/2.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide68 {
  background-image: url("praha-miele/3.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide69 {
  background-image: url("praha-miele/4.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide70 {
  background-image: url("praha-miele/5.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide71 {
  background-image: url("praha-miele/6.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide72 {
  background-image: url("praha-miele/7.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide73 {
  background-image: url("praha-miele/8.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide74 {
  background-image: url("praha-miele/9.jpg");
}
.carousel10 .swiper .swiper-wrapper .swiper-slide#slide75 {
  background-image: url("praha-miele/10.jpg");
}
.carousel10 .swiper .pagination10 {
  position: relative;
  top: 2.5rem;
}
@media (min-width: 1700px) {
  .slideshow {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .slideshow {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .slideshow {
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    width: 100%;
  }
  .slideshow .carousel3 {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slideshow {
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    width: 100%;
  }
  .slideshow .carousel2 .swiper {
    max-width: 30rem;
    height: 30rem;
  }
  .slideshow .carousel3 {
    width: 100%;
  }
  .slideshow .carousel3 .swiper {
    max-width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .slideshow {
    width: 100%;
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    height: 30rem;
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 25rem;
    height: 25rem;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-button-next {
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    text-align: center;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .text {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    height: 3rem;
    font-size: 1rem;
  }
  .slideshow .carousel2 .swiper.swiper3 {
    height: 25rem;
  }
  .slideshow .carousel3 {
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper {
    max-width: 25rem;
    height: 25rem;
  }
  .slideshow .carousel3 .swiper .controllers {
    top: 530px;
    left: 2.5rem;
    width: 100px;
  }
  .slideshow .carousel3 .swiper .controllers .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel3 .swiper .controllers .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide {
    padding: 3rem;
  }
  .slideshow .carousel3 .swiper.swiper4 {
    max-width: 25rem;
    height: 25rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .carousel1 .swiper {
    height: 400px;
  }
  .carousel1 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-prev::after {
    font-size: 80px;
  }
  .carousel1 .swiper .swiper-button-next {
    position: absolute;
    right: 1.5rem;
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-next::after {
    font-size: 80px;
  }
  .slideshow {
    width: 100%;
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    width: 100%;
    padding: 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 22.5rem;
    min-width: 5rem;
    height: 22.5rem;
    padding-top: 2rem;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #141414;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
    background-color: #2d2d2d;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-button-next {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: flex;
    align-items: center;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0 1.5rem;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .text {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    font-size: 1rem;
  }
  .slideshow .carousel2 .swiper.swiper3 {
    height: 20rem;
  }
  .slideshow .carousel3 {
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper {
    max-width: 25rem;
    height: 25rem;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper .controllers {
    top: 230px;
    left: -10px;
    width: 100px;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: flex;
    align-items: center;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    font-size: 1.5rem;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .text {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  .slideshow .carousel3 .swiper.swiper4 {
    max-width: 20rem;
    min-width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 576px) {
  .carousel1 .swiper {
    height: 400px;
  }
  .carousel1 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-prev::after {
    font-size: 80px;
  }
  .carousel1 .swiper .swiper-button-next {
    position: absolute;
    right: 1.5rem;
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-next::after {
    font-size: 80px;
  }
  .slideshow .carousel2 {
    width: 100%;
    padding: 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 25rem;
    height: 25rem;
    padding-top: 2rem;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #141414;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
    background-color: #2d2d2d;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-button-next {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: flex;
    align-items: center;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0 1rem;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .text {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    font-size: 1rem;
  }
  .slideshow .carousel2 .swiper.swiper3 {
    height: 20rem;
  }
  .slideshow .carousel3 {
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper {
    max-width: 25rem;
    height: 25rem;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper .controllers {
    top: 230px;
    left: -10px;
    width: 100px;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: flex;
    align-items: center;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    font-size: 1.5rem;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .text {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  .slideshow .carousel3 .swiper.swiper4 {
    max-width: 20rem;
    min-width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 320px) {
  .carousel1 .swiper {
    height: 400px;
  }
  .carousel1 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-prev::after {
    font-size: 80px;
  }
  .carousel1 .swiper .swiper-button-next {
    position: absolute;
    right: 1.5rem;
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-next::after {
    font-size: 80px;
  }
  .slideshow .carousel2 {
    width: 100%;
    padding: 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 20rem;
    min-width: 10rem;
    height: 25rem;
    padding-top: 2rem;
  }
  .slideshow .carousel3 .swiper {
    max-width: 20rem;
    min-width: 10rem;
    height: 25rem;
  }
}
@media screen and (min-width: 100px) {
  .d-xs-none {
    display: none!important;
  }
}
@media screen and (min-width: 768px) {
  .d-xs-none {
    display: block!important;
  }
}
